@at-root {
  .img-figure {
    width: 320px;
    height: 360px;
    margin: 0px;
    padding: 40px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;  // width的值包含padding
    position: absolute;
    top: 0px;
    transform-style: preserve-3d; // 使被转换的子元素保留其 3D 转换
    transform-origin: 0 50% 0;    // 设置旋转元素的基点位置，x轴原点，y轴原点，z轴原点
    transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

    &.is-inverse {
      transform: translate(320px) rotateY(180deg);
      // translate 2d移动，新位置坐标，x轴
    }

    img {
      width: 240px;
      height: 240px;
    }
  }

  figcation {
    text-align: center;

    .img-title {
      margin: 20px 0px 0px 0px;
      color: #a7a0a2;
      font-size: 16px;
    }

    .img-back {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      padding: 50px 40px;

      box-sizing: border-box;
      text-align: left;
      color: #a7a0a2;
      background-color: #fff;
      overflow: auto;
      font-size: 22px;
      line-height: 1.25;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility: hidden;   //隐藏被旋转的 div 元素的背面

      p {
        margin: 0px;
      }
    }
  }
}
