.common-header-nav {
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: #242736;
  color: #ddd;

  ul {
    float: right;
    padding: 0px 50px;

    li {
      display: inline-block;
      margin: 0 4px;
    }
  }
}